<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study03.www.mapper.NoticeMapper">	
	<resultMap type="notice" id="getListMap" >
		<result property="seq" column="seq"/>
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="onoff" column="onoff"/>
		<result property="regdate" column="regdate"/>
	</resultMap>
	<select id="getList" resultMap="getListMap" parameterType="hashmap">
		select seq, title, contents, onoff, regdate
		from notice
	</select>
	
	<insert id="setInsert" parameterType="hashmap">
	insert into notice(title, contents, onoff, regdate)
	values(#{title}, #{contents}, #{onoff}, date_format(now(), '%Y%m%d%H%i%s'))
	</insert>
</mapper>
