<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">

<head>
	<meta charset="utf-8">
	<!-- index.html 고유 CSS 추가 -->
    <link rel="stylesheet" type="text/css" href="/resource/assets/css/admin_main.css">
	<Script>
	    $(document).ready(function(){
	    	var seq="";
	    	$("#modal_submit").click(function(){
	    		if($("#myModalLabel").html()=="수정"){
	    			var id = $('#id').val();
	    			var pwd = $('#pwd').val();
	    			var level = $('#level').val();
	    			var name = $('#name').val();
	    			$.ajax({
						type : "POST",
						url : "/bd/mUpdate",
						data : { seq: seq , id : id, pwd : pwd, level : level, name:name},
						success : function(data) {
							$('#id').val("");
							$('#pwd').val("");
							$('#level').val("");
							$('#name').val("");
							alert("수정을 하였습니다.");
							location.href="/bd/member";
						},
						error : function() {
							alert("알수없는 오류가 발생하였습니다.");
						},
						complete : function() {
						}
					});
	    		}else if($("#myModalLabel").html()=="등록"){
	    			var id = $('#id').val();
	    			var pwd = $('#pwd').val();
	    			var level = $('#level').val();
	    			var name = $('#name').val();
	    			
	    			$.ajax({
	    				type : "POST",
						url : "/bd/mView",
						data : {id : id},
						success : function(data) {
							if(data.id!=null){
								$('#id').val("");
								$('#pwd').val("");
								$('#name').val("");
								$('#level option:eq(0)').prop("selected", true);
								alert("아이디가 중복 되었습니다.");
								return false;
							}else{
								$.ajax({
									type : "POST",
									url : "/bd/mInsert",
									data : {id : id, pwd : pwd,level:level, name:name},
									success : function(data) {
										$('#id').val("");
										$('#pwd').val("");
										$('#level').val("");
										$('#name').val("");
										alert("가입을 하였습니다.");
										location.href="/bd/member";
									},
									error : function() {
										alert("알수없는 오류가 발생하였습니다.");
									},
									complete : function() {
									}
								});
							}
						},
						error : function() {
							alert("알수없는 오류가 발생하였습니다.");
						},
						complete : function() {
						}
	    			});
	    			
	    			
	    			
	    			
	    		}
	    	});
	    	$("#allCheck").click(function(){
		        //만약 전체 선택 체크박스가 체크된상태일경우
		        if($("#allCheck").prop("checked")) {
		            //해당화면에 전체 checkbox들을 체크해준다
		            $("#listTable input[type=checkbox]").prop("checked",true);
		        // 전체선택 체크박스가 해제된 경우
		        } else {
		            //해당화면에 모든 checkbox들의 체크를해제시킨다.
		            $("#listTable input[type=checkbox]").prop("checked",false);
		        }
	    	});
		    $('#change_modal').on('shown.bs.modal', function (event) {
				$('#id').focus();
				var button = $(event.relatedTarget);
				seq = button.data('seq');
				
				if(button.context.value=='edit'){
					$("#myModalLabel").html("수정");
					$("#id").attr("readonly", true);
				}else if(button.context.value=='insert'){
					$("#myModalLabel").html("등록");
					$("#id").attr("readonly", false);
				}
				
				if(seq==undefined) {
					$('#id').val("");
					$('#pwd').val("");
					$('#name').val("");
					$('#level option:eq(0)').prop("selected", true);
				} else {
					$.ajax({
						type : "POST",
						url : "/bd/mView",
						data : { seq: seq },
						success : function(data) {
							$('#id').val(data.id);
							$('#pwd').val(data.pwd);
							$('#level').val(data.level);
							$('#name').val(data.name);
						},
						error : function() {
							alert("알수없는 오류가 발생하였습니다.");
						},
						complete : function() {
							
						}
					});
				}
	    	})
	    });
    	function searchForm() {
    		$('#searchFrm').submit();
    	}
    	
    	function doDelete(seq) {
    		$.ajax({
				type : "POST",
				url : "/bd/mDelete",
				data : { seq: seq },
				success : function(data) {
					alert("삭제를 성공 하였습니다.");
					location.href="/bd/member";
				},
				error : function() {
					alert("알수없는 오류가 발생하였습니다.");
				},
				complete : function() {
					
				}
			});
    	}
    	function doAllDelete() {
    		var count = 0;
    		var seq = [];
    		$('input:checkbox[name="delId"]').each(function(){
    			if(this.checked){
    				seq[count] = this.value;
    				count++;
    			}
    		});
    		if(seq[0]!=null){
	    		$.ajax({
					type : "POST",
					url : "/bd/mAllDelete",
					data : { seq: seq },
					success : function(data) {
						alert("삭제를 성공 하였습니다.");
						location.href="/bd/member";
					},
					error : function() {
						alert("알수없는 오류가 발생하였습니다.");
					},
					complete : function() {
					}
				});
    		}else{
    			alert("삭제할 계정을 선택해주세요");
    		}
    	}
    </Script>
</head>
<div class="container con_wrap" layout:fragment="content">
	<header th:replace="fragments/header02 :: headerFragment02"></header>
	<header th:replace="fragments/header03 :: headerFragment03"></header>
	    <div class="container">
        <h3>사용자 관리</h3>
        <div class="ibox-content" style="padding-top: 20px;">
            <div class="from_wrap">
         		<div class="from_wrap">
                    <form name="searchFrm" id="searchFrm" method="post" class="form-horizontal">
                    <input type="hidden" name="currentPage" value="1">
                        <!-- 호스트 -->
                        <div class="form-group search">
                            <input type="text" name="search_id" th:value="${search_id}" placeholder="ID검색">
							<select name="search_level">
                            	<option th:each="level : ${levels}" th:value="${level.value}" th:text="${level.text}" th:selected="${level.value == search_level}"></option>
                            </select>
<!--                        <input type="text" name="search_level" th:value="${search_level}" placeholder="Level검색"> -->
                            <button type="button" class="btn btn-primary" onclick="searchForm()">검색</button>
                        </div>
                    </form>
                </div>

                <table class="table table-striped table-bordered table-hover" id="listTable">
                    <colgroup>
                        <col width="10%">
                        <col width="25%">
                        <col width="25%">
                        <col width="20%">
                        <col width="20%">                        
                    </colgroup>
                    <thead>
                        <tr>
                        	<th style="text-align:center;"><input type="checkbox" id="allCheck"/></th>
                            <th style="text-align:center;">순번</th>
                            <th style="text-align:center;">ID</th>
                            <th style="text-align:center;">0:ADMIN 1:USER</th>
                            <th style="text-align:center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list,idx : ${List}">
	                    	<td style="text-align:center;"><input name="delId" type="checkbox" th:if="${list.id ne'admin'}" th:attr="value=${list.seq}"></td>
	                        <td style="text-align:center;" th:text="${maxnumber - idx.index}"></td>
	                        <td style="text-align:center;" th:text="${list.id}"></td>
	                        <td style="text-align:center;" th:text="${T(utils.Utils).levelFormat(list.level)}"></td> 
	                        <td style="text-align:center;">
	                            <button type="button" data-toggle="modal" data-target="#change_modal" th:attr="data-seq=${list.seq}" value="edit">수정</button>
	                            <button type="button" th:onclick="doDelete([[${list.seq}]])" th:if="${list.id ne'admin'}">삭제</button>
	                        </td>
	                    </tr>
                        
                    </tbody>
                </table>
                <div class="pn" th:utext="${page}"></div>
                <div class="btn" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" onclick="doAllDelete()">선택삭제</button>
                    <button type="button" data-toggle="modal" data-target="#change_modal" value="insert">등록</button>
                </div>
                
                
                
                <!-- 모달 -->
                
                <div class="modal fade" id="change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	              <div class="modal-dialog">
	                <div class="modal-content">
	                  <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title" id="myModalLabel"></h4>
	                  </div>
	                  <div class="modal-body">
	                    <div class="form-group">
	                        <p class="col-md-4">ID</p>
	                        <input type="text" id="id" name="id" class="form-control col-md-8" placeholder="ID" required="true" autocomplete="off">
	                    </div>
	                    
	                    <div class="form-group">
	                        <p class="col-md-4">PWD</p>
	                        <input type="text" id="pwd" name="pwd" class="form-control col-md-8" placeholder="PWD" required="true" autocomplete="off">
	                    </div>
	                    <div class="form-group">
	                        <p class="col-md-4">NAME</p>
	                        <input type="text" id="name" name="name" class="form-control col-md-8" placeholder="name" required="true" autocomplete="off">
	                    </div>
	                    <div class="form-group">
	                        <p class="col-md-4">LEVEL</p>
	                        <select id="level" name="level">
                            	<option th:each="level : ${levels}" th:value="${level.value}" th:text="${level.text}"></option>
                            </select>
	                    </div>
	                  </div>
	                  <div class="modal-footer">
	                    <button type="button" class="btn btn-primary" id="modal_submit">저장</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	                  </div>
	                </div>
	              </div>
	            </div>
               
            </div>
        </div>
    </div>
</div>
</html>