<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<ul class="nav navbar-nav nav-tabs" th:fragment="headerFragment03">
  <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/bd/board')}?'active':''"><a href="/bd/board">게시판 관리<span class="sr-only">(current)</span></a></li>
  <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/bd/notice')}?'active':''"><a href="/bd/notice">공지사항 관리</a></li>
  <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/bd/member')}?'active':''"><a href="/bd/member">사용자 관리</a></li>
</ul>
</html>