<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <properties>
                <property name="main">main-webapp</property>
                <property name="call">call-webapp</property>
                <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-30.30C::%-30.30M:%-5.5L | %msg%n</property>
        </properties> 
        <appenders>
                <Console name="console" target="SYSTEM_OUT">
                        <PatternLayout pattern="${pattern}"/>
                </Console>
                <RollingFile name="main-file" fileName="home/log/${main}.log"
                                 filePattern="home/log/bak/$${date:yyyy}-$${date:MM}/$${date:yyyy}-$${date:MM}-$${date:dd}/%d{yyyyMMddHH}.log">
                       <PatternLayout pattern="${pattern}"/>
                        <Policies>
                                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                        </Policies>
                </RollingFile>
                <RollingFile name="call-file" fileName="home/log/call/${call}.log"
                                 filePattern="home/log/call/bak/$${date:yyyy}-$${date:MM}/$${date:yyyy}-$${date:MM}-$${date:dd}/%d{yyyyMMddHH}.log">
                        <PatternLayout pattern="${pattern}"/>
                        <Policies>
                                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                        </Policies>
                </RollingFile>
        </appenders>
        <loggers>
        	<Logger name="call_log" level="info" additivity="false">
		      	<AppenderRef ref="console" />
		      	<AppenderRef ref="call-file" />
		    </Logger>
            <root level="info">
            	<appender-ref ref="console"/>
              	<appender-ref ref="main-file"/>
            </root>
        </loggers>
</configuration>