@charset "utf-8";
.modal-backdrop.in.fade.bg-z{
	z-index: 300000001 !important;
}
#groupSet_modal{
	z-index: 111111111113 !important;
	z-index: 3000000000 !important;
}
#pagergrid{
	z-index: 1111 !important;
}
#pageruser_grid{
	z-index: 1111 !important;
}
input[type="checkbox"] {
    display: inline-block;
}
.responsible_logout{
	display: none;
}
.body-small.mini-navbar .navbar-static-side{
	z-index: 2051;
}
.clear{
	color: #DFE4ED;
}
#page-wrapper > .border-bottom{
	height: 60px;
} 
body{
	background-color: #353535;
}
.nav > li.active {
border-left: 4px solid #34AADC;
background: #474747;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
	background-color: #474747;
}
a:focus, a:hover, button:focus, button:hover{
text-decoration: unset;
outline: unset !important;
}

.wrapper label{
	text-align: right;
	line-height: 32px;
	margin: 0;
	padding: 0;
}
.modal label{
	text-align: right;
	line-height: 32px;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.bottom_line{
	border-top: 1px dashed #e7eaec;
color: #ffffff;
background-color: #ffffff;
height: 1px;
margin: 0px 0 5px;
}
.wrapper input{
	height: 32px;
}
.modal input{
	height: 32px;
}

.wrapper button{
	height: 26px;
	padding: 0px 12px;
	vertical-align: -1px;
}
.modal button{
	height: 26px;
	padding: 0px 12px;
	vertical-align: -1px;
}

.jqx-dropdownlist-content{
	margin: 0 !important;
	line-height: 32px;
}
.wrapper .form-group{
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}
.modal .form-group{
	display: inline-block;
	width: 100%;
	margin: 5px 0px;
}
.jqxcalendar_act input{
	padding: 0 3px !important;
}


.form-control{
 height: 32px;
 border-radius: 4px;
}

.form-group .col-md-8 .col-md-5{
	padding: 0;
}
.form-group .col-md-4 > .col-md-4{
 text-align: right;
}
.form-group .col-md-8 .col-md-2{
line-height: 32px;
text-align: center;
}
.btn_group{
	text-align: center;
}

.list_table .container{
overflow: auto;
width: auto;
}
.jqx-grid-cell-left-align{
	text-align: center;
	margin: 0 !important;
	line-height: 28px;
}
.jqx-grid-column-header > div > div{
	text-align: center !important;
}
#grid{
	width: auto !important;
}
.navbar-fixed-top, .navbar-static-top{
background-color: #34aadc;
height: 100%;
}
.disk{
background-color: #0B8CC6;
border-radius: 50px;
line-height: 30px;
margin-top: 15px;
margin-bottom: 15px;
color: #fff;
text-align: center;

}
.disk span{
	color: #111;
	font-weight: bold;
}
.navbar-form-custom{
	margin-left: 15px;
	display: block !important;
}
#side-menu > li > a{
	border-bottom: 1px solid #444;
	font-size: 14px;
}

.nav-header{
	padding: 20px 25px;
	background: unset;
}

.nav.navbar-right > li > a{
	color: #fff;
}
.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus{
	color: #ddd;
}

#side-menu  li.page_open::after{
content: ".";

background-color: #eee;
position: absolute;
top: 45%;
right: -3px;
color: #eee;
width: 15px;
transform: rotate( 45deg ) translateY(-50%);
height: 15px;
}
*{
	box-sizing: border-box !important;
}
.ibox-title h2{
	margin: 0px;
	display: table;
}
.ibox-title h2 img{
	max-height: 38px;
	display: table-cell;
}
.ibox-title h2 span{
font-size: 20px;
display: table-cell;
vertical-align: bottom;
padding-bottom: 5px;
padding-left: 5px;
}
.ibox-title{
padding: 14px 32px 14px;	
height: 70px;
}
.title_wrap{
display: inline-block;
}
.ibox-title button{
float: right;
height: 38px;
font-size: 15px;
width: 72px;
}

.popover{
max-width: 100%;
z-index: 111;
margin-left: 48px;
margin-right: 48px;
right: 0;
left: 0 !important;
}
.popover.bottom{
	margin-top: 17px;
}
.input-group-btn button{
height: 32px;
}

.list_search button{
	height: 32px;
}

.list_search button{
	float: unset;
}
.ibox-title .popover-title{
	margin-top: 0px !important;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
}
.ibox-content > .list_search{
overflow-y: auto;
height: 100%;
}
.jqx-listbox-container{
	z-index: 11111111111;
}

div .jqx-calendar{
z-index: 20000000000 !important;
}

.ibox{
margin: 15px 0px;
height: calc(100% - 91px);
overflow: hidden;
}

.ibox-content{
	height: calc(100% - 70px);
}
body{
	height: 100vh;
	overflow: hidden;
}

.navbar-minimalize{
	display: none;
	margin-left: 15px;
}

.list{
height: 100%;
overflow: auto;
}
.list_table{
height: 100%;	
}
.list_table .container{
height: 100%;
}
.btn-primary {
background-color: #34aadc;
border-color: #2fa0d0;
color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
background-color: #298fbb;
border-color: #2286b0;
color: #FFFFFF;	
}
.form-control:focus, .single-line:focus{
	border-color: #2fa0d0 !important;
}


.btn-default {
 color:#333;
 background-color:#fff;
 border-color:#ccc
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open>.dropdown-toggle.btn-default {
 color:#333;
 background-color:#e6e6e6;
 border-color:#adadad
}
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
 background-image:none
}
.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
 background-color:#fff;
 border-color:#ccc
}
.btn-default .badge {
 color:#fff;
 background-color:#333
}

.form-control, .single-line{
	border-color: #ccc;
}

.nav-header .text-muted{
	font-size: 14px;
}
.nav-header .m-t-xs{
	font-size: 15px;
}

.wrapper .list_search .form-group > div{
padding: 0;
}
.modal .list_search .form-group > div{
padding: 0;
}
body.mini-navbar .logo-element{
padding: 15px 0px;
}

body.mini-navbar .nav-header{
	background-color: #353535;
}

.mini-navbar .nav-second-level{
	background-color: #353535;
}
.wrapper label{
	font-size: 12px;
}
.list_search .col-sm-4 .col-lg-8 .col-sm-5{
	padding: 0px;
}
.list_search .col-sm-4 .col-lg-8 .col-sm-2{
	text-align: center;
	line-height: 32px;
	padding: 0;
}
.hide_darkbg{
	display: none;
}

#search_filter{
top: 145px;
bottom: auto;
left: 270px;
right: 50px;
box-shadow: 0px 0px 8px -3px;
border: 1px solid #ccc;
border-radius: 4px;
z-index:  30000000 !important;
}
#search_filter .modal-dialog{
margin: 0;
width: 100%;
background-color: #fff;
}
.modal-backdrop.in{
	display: none;
}
.modal-backdrop.in.fade{
	display: block;
	z-index: 30000000 !important;
}
#user_search{
z-index: 11111111111 !important
}

#search_filter .modal-header{
background-color: #f4f4f4;
border-bottom-color: rgba(0,0,0,.1);
padding: 9px 15px;
}
#search_filter .modal-header h4{
	font-size: 15px;
}
#search_filter .modal-body{
	padding: 5px 15px;
}
.form-control, .single-line{
padding: 6px 3px;
}
#search_filter::after{
content: ".";

color: #f4f4f4;

background-color: #f4f4f4;

top: 137.5px;

right: 78.5px;

width: 15px;

height: 15px;

transform: rotate( 45deg );

position: fixed;

border: 1px solid #ddd;
}

.modal .jqxcalendar_act{
height: 32px !important
}
.jqxcalendar_act input{
width: calc(100% - 27px) !important;
left: 3px !important;
}

/* 그리드 셀 */

.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell{
	margin: 0 !important;
}
.wrapper #grid .check_label{
margin: 0;
}

.jqx-enableselect{
	display: flex;

	background-color: #fafafa;
	border-top: 1px solid #eee !important;
}
.jqx-enableselect > div{
	margin: auto !important;
	flex: 1;
	text-align: center;
}
.check_label input{
margin-top: 0px;
}
.disno{
	display: none;
}
#listBoxContentinnerListBoxgridpagerlistgrid .jqx-listitem-state-normal{
	width: 47px !important;
}

input[type="radio"]{
	display: inline-block;
}

.user_manage .checkbox-inline, .user_manage .radio-inline{
	padding-left: 20px;
}

.user_manage .checkbox-inline input, .user_manage .radio-inline input{
height: 26px;
}
/* 사용자관리 */
#groupSet_modal .modal-dialog{
	max-width: 313.4917px;
}
#groupSet_modal .modal-dialog .modal-body{
	padding: 10px;
}
#groupSet_modal .modal-footer{
	text-align: center;
	padding: 10px;
}
#groupSet_modal .add_group .form-group .col-lg-3{
padding: 0;
}
#groupSet_modal .add_group .form-group .col-lg-3 button{
padding:0 5px;
	height: 32px;
}

#groupSet_modal .modal-footer button{
	height: 34px;
}
body.user_manage .modal .list_search .form-group > div:last-child{
text-align: right;
}
body.user_manage .modal .list_search .form-group > div:last-child .col-lg-4{
float: right;
}
.grid_bottom{
text-align: center;

border-top: 1px dashed #ddd;

margin-top: 15px;

padding-top: 15px;
}

.grid_bottom button{
	height: 34px;
}
.modal#user_add{
z-index: 111111110 !important;
overflow: auto;
}
.modal#user_add .modal-body{
	padding: 10px 10px 5px;
}
.modal#user_add .modal-footer{
	text-align: center;
}
.modal#user_add .modal-footer button{
	height: 34px;
}
.modal#user_add .modal-body .form-group >div.col-lg-2{
	padding: 0;
}
.modal#user_add .modal-body .form-group >div.col-lg-2 button{
	height: 32px;
}
.user_manage .list_table .grid_height{
height: calc(100% - 65px);
}
#user_more{
	z-index: 1111111112 !important;
}

#user_more .modal-body .form-group > div.col-lg-8{
	line-height: 34px;
}
#user_more .modal-footer{
	text-align: center;
}
#user_more .modal-footer button{
	height: 34px;
}
#user_more .modal-body{
	padding: 10px 20px 5px;
}
.list_search .col-lg-8.input-group{
	padding-right: 15px;
	padding-left: 15px;
}
.list_search .col-lg-8.input-group button{
	width: 80px;
}
.list_search .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu{
	left: auto;
	right: 0;
}
.list_search .col-lg-8{
	height: 32px;
}
#pageraccess_grid {
    z-index: 1111 !important;
}
.access_log .modal .list_search .form-group > div{
	float: unset;

margin: 0 auto;

min-width: 340px;
}
.access_log .modal .list_search .form-group > div > div:nth-child(3){
	padding: 0;
}

/* state */

body.state_wrap .modal .list_search .form-group .checkbox label, body.state_wrap .modal .list_search .form-group .radio label{
	padding-left: 20px;
	margin-left: 10px;
}

body.state_wrap .modal .list_search .form-group .checkbox label input, body.state_wrap .modal .list_search .form-group .radio input{
	height: 27px;
}

body.state_wrap .modal .list_search .form-group > div.radio:last-child{
	text-align: left;
}

body.state_wrap .list_table .container{
	height: calc(100% - 65px);
}

/* 모니터링 */
.monitering_wrap{
	background-color: #f9f9f9;
	padding: 7.5px;
	height: calc(100% - 91px)
}
.monitering .ibox-content{
	padding-bottom: 15px;
}
.monitering_wrap > .row{
	margin: 0;
	height: 100%;
	overflow-y: auto;
}
.monitering_wrap > .row .thumbnail{
float: left;
margin: 7.5px;
width: calc(20% - 15px);
padding: 0;
text-align: center;
border: none;
box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
.monitering_visualizer{
border-top: 1px solid #ddd;

height: 91px;

margin: 0 auto;

padding-top: 15px;
}
.monitering_visualizer > div{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #eee;
	padding: 5px;
	border-radius: 4px;
}
.monitering_visualizer h3{
	height: 30px;
	margin: 0;
	line-height: 30px;
}
.monitering_visualizer h3 span{
	font-weight: lighter;
}
.monitering_visualizer canvas{
background-color: #555555;
width: calc(100% - 65px);
float: left;
height: 65px;	
min-height: auto;
}
.monitering_visualizer .stop_btn{
	display: inline-block;
	width: 65px;
	height: 65px;
	background-color: #eee;
	padding: 10px;
	border-radius: 0px 4px 4px 0px;
}
.monitering_visualizer .stop_btn button{
	border-radius: 37.5px;
	border: 1px solid #eee;
	width: 100%;
	height: 100%;
	background: #D9D9D9;
	background: -webkit-linear-gradient(to bottom, #FFFFFF, #D9D9D9);
	background: linear-gradient(to bottom, #FFF, #D9D9D9);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
}
.monitering_visualizer .stop_btn button i{
	color: #c12424;
}

.monitering_visualizer .stop_btn button.btn.active,
.monitering_visualizer .stop_btn button.btn:active {

 outline:0;
 -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 box-shadow:inset 0 3px 5px rgba(0,0,0,.125);

}
.monitering_visualizer .stop_btn button.btn.active i,
.monitering_visualizer .stop_btn button.btn:active i{
color: #992121;
}

.monitering_wrap > .row .thumbnail .caption_head{
	background-color: #515151;
border-radius: 2px 2px 0px 0px;
height: 35px;
}
.monitering_wrap > .row .thumbnail .caption_head h3{
margin: 0;
padding: 0px 8px;
text-align: left;
color: #fff;
line-height: 35px;	
}
.monitering_wrap > .row .thumbnail .caption{
	padding: 9px;
	color: #333;
}
.monitering_wrap > .row .thumbnail .caption .caption_con1{
	padding-bottom: 10px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
.monitering_wrap > .row .thumbnail .caption .caption_con1 p:first-child{
font-size: 16px;
font-weight: 600;
color: #333;
margin-bottom: 5px;
}
.monitering_wrap > .row .thumbnail .caption .caption_con1 p:last-child{
	color: #777;
	margin: 0;
}
.monitering_wrap > .row .thumbnail .caption .caption_con2 p:nth-child(1){
font-size: 14px;
margin-bottom: 5px;	
}
.monitering_wrap > .row .thumbnail .caption .caption_con2 i{
	font-size: 17px;
	color: #34aadc;
}

.monitering_wrap > .row .thumbnail .caption .caption_con2 p:nth-child(3){
margin-top: 5px;
font-size: 14px;
margin-bottom: 0;	
}
.monitering_wrap > .row .thumbnail .caption_bottom{
	background-color: #fff;border-radius: 0px 0px 2px 2px;height: 40px;border-top: 1px solid #eee;
}
.monitering_wrap > .row .thumbnail .caption_bottom button{
	margin-top: 4px;
	margin-bottom: 5px;
	height: 30px;
	border-radius: 16px;
	font-size: 16px;
	background-color: unset;
    border-width: 2px;
    color: #fff;
    transition: all 0.5s;
}
.monitering_wrap > .row .thumbnail.standBy .caption_bottom button{
background-color: unset;
border-width: 2px;
color: #3198c4;

}

.monitering_wrap > .row .thumbnail.standBy .caption_bottom button:hover{
background-color: #34aadc;
border-color: #2fa0d0;
color: #FFFFFF;
}
.monitering_wrap > .row .thumbnail.doing .caption_bottom button{
background-color: #34aadc;
border-color: #2fa0d0;
color: #FFFFFF;
}
.monitering_wrap > .row .thumbnail.doing .caption_bottom button:hover{
	background-color: #298fbb;
border-color: #2286b0;
color: #FFFFFF;	
}

.monitering_wrap > .row .thumbnail.ready .caption_bottom button{
background-color: #999;

border-color: #888;
}

.monitering_wrap > .row .thumbnail.ready .caption_bottom button:active,
.monitering_wrap > .row .thumbnail.ready .caption_bottom button.active
{
	background-color: #298fbb;
border-color: #2286b0;
color: #FFFFFF;	
}
.monitering_wrap > .row .thumbnail.ready .caption .caption_con2 i{
	color: #888;
}
/* 반응형 */
@media (max-width: 1464px){
#search_filter{
	left: 120px;
}
#side-menu li ul.nav-second-level li.page_open::after{
display: none;
}
}
@media (max-width: 1313px){
.popover{
	margin-right: 15px;
	margin-left: 15px;
}
}
@media (max-width: 1199px){

.wrapper label {
    padding-right: 15px;
    padding-left: 15px;
}
#groupSet_modal .add_group .form-group .col-lg-3{
	width: 25%;
	float: left;
}
#groupSet_modal .add_group .form-group .col-lg-6{
	width: 50%;
	float: left;
	padding: 0px 10px;
}
body.user_manage .modal .list_search .form-group > div:last-child{
	margin-top: 32px;
}
.modal label {
    padding-right: 15px;
    padding-left: 15px;
}
#user_search .modal-body{
	padding: 0px 15px 15px 15px;
}
#user_search .modal-body .col-sm-1 button{
	margin-top: 32px;
}
#user_add .modal-body .form-group .col-lg-2, #user_more .modal-body .form-group .col-lg-2{
width: 16.66666667%;
float: left;
padding: 0;
}
#user_add .modal-body .form-group .col-lg-8, #user_more .modal-body .form-group .col-lg-8{
 width: 66.66666667%;
 float: left;
}
}
@media (max-width: 1000px){
.monitering_wrap > .row .thumbnail{
	width: calc(25% - 15px);
}
}
@media (max-width: 767px){

.monitering_wrap > .row .thumbnail{
	width: calc(33.333333% - 15px);
}

body.user_manage .modal .list_search .form-group > div:last-child{
text-align: center;

margin-top: 10px;

border-top: 1px dashed #ccc;

padding-top: 10px;	
padding-bottom: 10px;

}
.access_log .modal .list_search .form-group > div{
	min-width: auto;
}
.access_log .modal .list_search .form-group > div > div:nth-child(3){
	text-align: center;
	margin-top: 10px;
	border-top: 1px dashed #ccc;
	padding-top:  10px;
	padding-bottom: 10px;
}

.user_manage #search_filter .list_search .form-horizontal .form-group > div:nth-child(1) label{
margin-top: 0;
}
body.user_manage .modal .list_search .form-group > div:last-child .col-lg-4{
	display: none;
}
#user_add.modal .modal-body .form-group{
	height: 34px;
}
.user_manage .checkbox-inline, .user_manage .radio-inline{
margin: 0;
line-height: 34px;	
}

#search_filter .list_search{
	overflow: auto;
	max-height: 200px;
}
#user_search .bottom_line{
	margin-bottom: 10px;
}
#user_search .modal-body .col-sm-1{
	text-align: center;
}
#user_search .modal-body .col-sm-1 button{
margin-top: 10px;
}
#search_filter{
	left: 105px;
	right: 35px;
}
.wrapper label{
height: auto;
line-height: 1;
margin-top: 10px;	
}
.modal label{
height: auto;
line-height: 1;
margin-top: 10px;	
}
.popover-content{
	padding-top: 0px;
	padding-bottom: 0px;
}
.list_table .container{
	padding: 0px;
}
.ibox-title{
	padding: 14px 20px 14px;
}
.wrapper .form-group{
	margin: 0px;
}
.modal .form-group{
margin: 0px;
}
.bottom_line{
margin-top: 10px;
margin-bottom: 0px;
}
.list_search .col-sm-4 .col-lg-8 .col-sm-5{
width: 41.66666667%;
float: left;
}
.list_search .col-sm-4 .col-lg-8 .col-sm-2{
width: 16.66666667%;
float: left;
}
.wrapper .form-group.btn_group{
	margin-top: 8px;
	margin-bottom: 8px;
}
.modal .form-group.btn_group{
	margin-top: 8px;
	margin-bottom: 8px;
}
.list-search form .form-horizontal > div:nth-child(5){
	margin-top: 5px;
}
.navbar-right{
	float: right;
}
.navbar-top-links li:last-child{
	margin-right: 15px;
}

#search_filter::after{
	right: 65.5px;
}
#user_add .modal-body .form-group .col-lg-8{
	padding: 0px 10px;
}
#groupSet_modal .modal-dialog{
	margin: 10px auto;
}

body.state_wrap .modal .list_search .form-group .checkbox label input, body.state_wrap .modal .list_search .form-group .radio input {

    bottom: 0;

}

}

@media (max-width: 630px){
.monitering_wrap > .row .thumbnail{
	width: calc(50% - 15px);
}
}
@media (max-width: 550px){
	#user_add.modal .modal-body .form-group, #user_more.modal .modal-body .form-group {
		height: auto;
	}
	.modal#user_add .modal-body .form-group > label.col-lg-2:first-child, .modal#user_more .modal-body .form-group > label.col-lg-2:first-child{
		width: 100%;

text-align: left;

padding-bottom: 5px;

padding-left: 10px;
	}
	#user_add .modal-body .form-group .col-lg-8{
		width: calc(100% - 82px);
	}
	 #user_more .modal-body .form-group .col-lg-8{
	 	width: 100%;
	 }
	.modal#user_add .modal-body .form-group > div.col-lg-2, .modal#user_more .modal-body .form-group > div.col-lg-2{
		width: 82px;
	}
	
	.navbar-minimalize{
		display: block;
	}
	#side-menu > li.page_open::after{
		display: none;
	}
	#search_filter{
		left: 35px;
	}
	.body-small.mini-navbar .navbar-static-side{
		height: 100%;
		background-color: #353535;
		width: 80%;
		z-index: 11111111111;
	}
	#search_filter::after{
		right: 46.5px;
	}
	body.mini-navbar #page-wrapper{
		margin: 0;
	}
	.ibox-title button{
		width: 38px;
	}
	body.mini-navbar .profile-element, body.mini-navbar .profile-element a, body.mini-navbar .profile-element a span.clear .block{
		display: block;
	
	}
	body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span{
		display: inline-block;
	}
	body.mini-navbar .logo-element{
		display: none;
	}
	.mini-navbar .nav-second-level{
		position: unset;
	}
	body.mini-navbar .nav-header{
		padding: 14px;
		text-align: center;
	}
	body.mini-navbar .hide_darkbg{
		display: block;
		background-color: #000;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1111111112;
		opacity: 0.5;
	}
	.navbar-form-custom{
		margin-left: 0;
	}
	.nav.navbar-right > li > a{
		display: none;
	}
	body.mini-navbar .responsible_logout{
	text-align: center;
	margin-top: 15px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	display: block;
	transform: translateX(-50%);
	}
	.ibox-title button span{
		display: none;
	}
	body.state_wrap .modal .list_search .form-group .checkbox label, body.state_wrap .modal .list_search .form-group .radio label{
	width: 100%;
	text-align: left;	
	line-height: 19px; 
	margin-left: 0;
	padding-left: 35px;
	}
	body.state_wrap .modal .list_search .form-group .checkbox label input, body.state_wrap .modal .list_search .form-group .radio input{
		top: auto;
		bottom: auto;
		height: 0;

	}
}


@media (max-width: 450px){
.ibox-title{
	position: relative;
	height: 102px;
}
.ibox-title .title_wrap{
    display: block;
}
.ibox-title h2{
display: block;
text-align: left;
}
.ibox-title h2 img{
display: block;
border-bottom: 1px solid#eee;
margin-bottom: 5px;
}
.ibox-title h2 span{
	display: inline-block;
	font-size: 17px;
}
.ibox-title button{
position: absolute;
top: 50%;
right: 15px;
transform: translateY(-50%);
}
.ibox-content {
    height: calc(100% - 102px);
    padding: 5px;
}

#search_filter::after {
    right: 42.5px;
    top: 152.5px;
}
#search_filter{
top: 160px;
left: 15px;
right: 15px;
}
.grid_bottom{
	padding-top: 10px;
	margin-top: 10px;
}
}
@media (max-width: 410px){
.monitering_wrap > .row .thumbnail{
	width: calc(100% - 15px);
}
}
@media (max-height: 672px){
	.user_manage .list_table .grid_height{
		height: calc(100% - 65px);
	}
	
}

@media (max-height: 600px){
	.jqx-calendar{
		position: fixed !important;
		top: 15px !important;
		left: 50% !important;
		transform: translateX(-50%);
	}
	.user_manage .list_table .grid_height{
		height: auto;
	}
}

@media (max-height: 430px){
#search_filter .list_search{
	height: 25vh;
	overflow-y: auto;
}

}