<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.nautestech.www.mapper.StatMapper">	
	<resultMap type="stat" id="getSelectMap">
		<result property="s_date" column="s_date"/>
		<result property="s_caller_cnt" column="s_caller_cnt"/>
		<result property="s_called_cnt" column="s_called_cnt"/>
		<result property="s_caller_time" column="s_caller_time"/>
		<result property="s_called_time" column="s_called_time"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_nm" column="emp_nm"/>
		<result property="branch_cd" column="branch_cd"/>
		<result property="tel_no" column="tel_no"/>
	</resultMap>
	
	
	<select id="getView" resultMap="getSelectMap" parameterType="hashmap">
		select 
		<if test='res.equals("H")'>
			left(s_date,10) as s_date,
		</if>
		<if test='res.equals("D")'>
			left(s_date,8) as s_date,
		</if>
		<if test='res.equals("M")'>
			left(s_date,6) as s_date,
		</if>
			sum(s_caller_cnt) as s_caller_cnt,
			sum(s_called_cnt) as s_called_cnt,
			sum(s_caller_time) as s_caller_time,
			sum(s_called_time) as s_called_time,
			emp_id,
			branch_cd
		from `web_recording`.`statistics`
		<include refid="where"/>
		group by 
		<if test='res.equals("H")'>
			left(s_date,10),
		</if>
		<if test='res.equals("D")'>
			left(s_date,8),
		</if>
		<if test='res.equals("M")'>
			left(s_date,6),
		</if>
			emp_id
		<if test='res.equals("H")'>
		order by left(s_date,10) desc
		</if>
		<if test='res.equals("D")'>
		order by left(s_date,8) desc
		</if>
		<if test='res.equals("M")'>
		order by left(s_date,6) desc
		</if>
		<if test='xlsx.equals("false")'>
		limit ${pagestart},${pagesize}
		</if>
	</select>
	
	<select id="getListStateCount" resultMap="getSelectMap" parameterType="hashmap">
	
	<if test='res.equals("H")'>
		select left(s_date,10)
	</if>
	<if test='res.equals("D")'>
		select left(s_date,8)
	</if>
	<if test='res.equals("M")'>
		select left(s_date,6)
	</if>
		 as s_date
		from `web_recording`.`statistics`
		<include refid="where"/>
		<if test='res.equals("H")'>
		group by left(s_date,10)
		</if>
		<if test='res.equals("D")'>
		group by left(s_date,8)
		</if>
		<if test='res.equals("M")'>
		group by left(s_date,6)
		</if>
		, emp_id
	</select>
	
	
	<sql id="where">
		<where>
			<if test='emp_id !=null and !emp_id.equals("")'>
				emp_id = #{emp_id}
			</if>
			<if test='branch_cd !=null and !branch_cd.equals("")'>
				and branch_cd = #{branch_cd}
			</if>
			<!-- 나중에 시간넣을곳 -->
			<if test='bday !=null and !bday.equals("") and eday !=null and !eday.equals("")'>
				and s_date between #{bday} and #{eday}
			</if>
		</where>
	</sql>
	
</mapper>
