<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.nautestech.www.mapper.UsersMapper">	
	<resultMap type="users" id="getSelectMap">
		<result property="tel_no" column="tel_no"/>
		<result property="branch_cd" column="branch_cd"/>
		<result property="emp_id" column="emp_id"/>
		<result property="auth_cd" column="auth_cd"/>
		<result property="emp_nm" column="emp_nm"/>
		<result property="rec_is_use" column="rec_is_use"/>
		<result property="rec_type" column="rec_type"/>
		<result property="rec_type_regdate" column="rec_type_regdate"/>
		<result property="work_emp_id" column="work_emp_id"/>
		<result property="work_emp_nm" column="work_emp_nm"/>
		<result property="rec_regdate" column="rec_regdate"/>
		<result property="login_date" column="login_date"/>
		<result property="pass" column="pass"/>
		<result property="SERVERCODE" column="SERVERCODE"/>
		<result property="tel_no_070" column="tel_no_070"/>
		<result property="is_pass" column="is_pass"/>
		<result property="down_type" column="down_type"/>
		<result property="group_id" column="group_id"/>
	</resultMap>
	
	<resultMap type="batch" id="getBatchSelectMap">
		<result property="branch_cd" column="branch_cd"/>
		<result property="branch_nm" column="branch_nm"/>
	</resultMap>
	

	<update id="setUpdate" parameterType="hashmap">
		update `web_recording`.`users` set
		<choose>
			<when test='login_date.equals("")'>
			emp_nm = #{emp_nm},
			pass = #{pass},
			auth_cd = #{auth_cd},
			branch_cd = #{branch_cd},
			rec_type = #{rec_type},
			down_type = #{down_type},
			rec_type_regdate = #{rec_type_regdate}
			</when>
			<otherwise>
			login_date = #{login_date}
			</otherwise>
		</choose>
		where tel_no = #{tel_no}
	</update>




	<delete id="setDelete" parameterType="hashmap">
		delete from `web_recording`.`users` where tel_no in
		<foreach collection="tel_no" item="tel_no" open="(" close=")" separator="," index="index">
			#{tel_no}
		</foreach>
	</delete>


	<delete id="setBranchDelete" parameterType="hashmap">
		delete from `web_recording`.`batch_jisa` where branch_cd in
		<foreach collection="branch_cd" item="branch_cd" open="(" close=")" separator="," index="index">
			#{branch_cd}
		</foreach>
	</delete>


	<select id="getListBranch" resultMap="getBatchSelectMap" parameterType="hashmap">
		SELECT 
		branch_cd,
		branch_nm
		FROM `web_recording`.`batch_jisa`
		<if test='branch_cd !=null and !branch_cd.equals("")'>
			where branch_cd = #{branch_cd}
		</if>
		
	</select>
	
	
	<insert id="setInsertBranch" parameterType="hashmap">
		insert into batch_jisa(
		branch_cd,
		branch_nm,
		sort
		)values(
		#{branch_cd},
		#{branch_nm},
		'1'
		)
	</insert>
	
	
	<select id="getListCount" resultType="int" parameterType="hashmap">
		select count(*)
		from `web_recording`.`users`
	</select>
	
	
	<select id="getView" resultMap="getSelectMap" parameterType="hashmap">
		select
		tel_no,
		branch_cd,
		emp_id,
		auth_cd,
		emp_nm,
		rec_type,
		rec_regdate,
		rec_type_regdate,
		pass,
		tel_no_070,
		down_type
		from `web_recording`.`users`
		<include refid="where"/>
		order by rec_regdate desc
		limit ${pagestart},${pagesize}
	</select>
	
	
	<insert id="setInsert" parameterType="hashmap">
		insert into users(
		tel_no,
		branch_cd,
		emp_id,
		auth_cd,
		emp_nm,
		rec_is_use,
		rec_type,
		rec_type_regdate,
		work_emp_id,
		work_emp_nm,
		rec_regdate,
		login_date,
		pass,
		SERVERCODE,
		tel_no_070,
		is_pass,
		down_type,
		group_id
		) values(
		#{tel_no},
		#{branch_cd},
		#{emp_id},
		#{auth_cd},
		#{emp_nm},
		'',<!--rec_is_use  -->
		#{rec_type},
		'',<!--rec_type_regdate  -->
		'',<!--work_emp_id  -->
		'',<!--work_emp_nm  -->
		#{rec_regdate},
		'',<!--login_date  -->
		#{pass},
		'',<!--SERVERCODE  -->
		#{tel_no_070},
		'N',
		#{down_type},
		'')<!--group_id  -->
	</insert>
	
	
	
	
	
	<sql id="where">
		<where>
			<if test='emp_id !=null and !emp_id.equals("")'>
				emp_id = #{emp_id}
			</if>
			<if test='emp_nm !=null and !emp_nm.equals("")'>
				and emp_nm = #{emp_nm}
			</if>
			<if test='group_id !=null and !group_id.equals("")'>
				and group_id = #{group_id}
			</if>
			<if test='rec_type !=null and !rec_type.equals("")'>
				and rec_type = #{rec_type}
			</if>
			<if test='auth_cd !=null and !auth_cd.equals("")'>
				and auth_cd = #{auth_cd}
			</if>
			<if test='branch_cd !=null and !branch_cd.equals("")'>
				and branch_cd = #{branch_cd}
			</if>
			<if test='tel_no_070 !=null and !tel_no_070.equals("")'>
				and tel_no = #{tel_no_070}
			</if>
			<if test='tel_no !=null and !tel_no.equals("")'>
				and tel_no = #{tel_no}
			</if>
		</where>
	</sql>
</mapper>
