<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recording</title>

    <!-- option -->

    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcore.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdatetimeinput.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcalendar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxtooltip.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/globalization/globalize.js}"></script>

    <!-- DropDownList -->

    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxbuttons.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxscrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxlistbox.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdropdownlist.js}"></script>

    <!-- Grid -->


    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdata.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxmenu.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.pager.js}"></script>  
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.columnsresize.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.selection.js}"></script> 
 	<script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxpanel.js}"></script>
	<script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcheckbox.js}"></script> 
	
	
	
	<script type="text/javascript" th:src="@{/resource/assets/js/window_filter.js}"></script>
	<script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxwindow.js}"></script>
	
    <script type="text/javascript" th:inline="javascript" th:src="@{/resource/assets/js/page/call_page.js}"></script>




	<script type="text/javascript" th:src="@{/resource/assets/js/util/format.js}"></script>


</head>
<body>
    <div class="wrapper gray-bg" id="page-wrapper">
       <div class="row border-bottom">
    	<div th:replace="fragments/navbar :: navbarFragment"></div>
        </div>
        <input type="hidden" th:value="${#authentication.details.auth_cd}" id="u_auth_cd">
        <input type="hidden" th:value="${#authentication.details.down_type}" id="u_down_type">
        
        <div class="ibox">
            <div class="ibox-title">
                <div class="title_wrap">
                    <h2>
                        <img src="/logo" alt="company_logo"> <span>검색/청취</span>
                    </h2>
                </div>
                <!-- Button trigger modal -->
                <button id="showWindowButton" type="button" class="btn btn-primary btn-lg">
		             <span>검색</span> <i class="fa fa-filter" aria-hidden="true"></i>
		        </button>

            </div>
            <div class="ibox-content">
                <div class="list">
                    <div class="list_table">
                        <div class="container">
                            <div id="grid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<form action="/call/zip" method="post" id="form_arr">
	<input type="hidden" id="hidden_arr" name="arr">
</form>
<!-- 서치 필터 -->
<div id="jqxWidget">
        <div id="mainDemoContainer">
            <div id="window">
                <div id="windowHeader">
                    <h4>
                        검색·청취 필터
                    </h4>
                </div>
                <div id="windowContent">
                <div class="list_search">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-lg-4">그룹</label>
                                <div class="col-lg-8">
                                    <div class="group_btn_act" id="group_btn_act2"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">사용자 ID 또는 이름</label>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="" id="emp2">
                                      <span type="text" placeholder="" class="input-group-btn user_name" th:if="${#authentication.details.auth_cd eq'00'}">
                                        <button class="btn btn-default" id="id_user_search2" type="button">사용자 검색</button>
                                      </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">업체명</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="" id="">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="bottom_line"></div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-lg-4">통화날짜</label>
                                <div class="col-lg-8">
                                    <div class="jqxcalendar_act" id="jqxcalendar_act2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">통화시각</label>
                                <div class="col-lg-8">
                                    <div class="col-sm-5">
                                        <select class="selStartTime form-control" name="selStartTime" id="selStartTime2">
                                        </select>
                                    </div>
                                    <div class="col-sm-2">~</div>
                                        
                                    <div class="col-sm-5">
                                        <select class="selEndTime form-control" name="selEndTime" id="selEndTime2"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">통화시간</label>
                                <div class="col-lg-8">
                                    <div class="dropdown col-sm-5">
                                        <input type="text" class="form-control time_start col-lg-10" id="start_talk_time2" placeholder="03">
                                    </div>
                                    <div class="col-sm-2">~</div>
                                    <div class="dropdown col-sm-5">
                                        <input type="text" class="time_end form-control col-lg-10" id="end_talk_time2" placeholder="sec">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-lg-4">수신전화번호</label>
                                <div class="col-lg-8 input-group">
                                    <input type="text" class="form-control receive_number" placeholder="" id="called2">
                                	<div class="input-group-btn">
                                        <button type="button" id="called2_bt" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">선택 <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu" id="called2_ul">
                                          <li><a href="#">포함</a></li>
                                          <li><a href="#">정확</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">발신전화번호</label>
                                <div class="col-lg-8 input-group">
                                    <input type="text" class="form-control col-lg-8 send_number" placeholder="" id="caller2">
                                	<div class="input-group-btn">
                                        <button type="button" id="caller2_bt" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">선택 <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu" id="caller2_ul">
                                          <li><a href="#">포함</a></li>
                                          <li><a href="#">정확</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">녹취유형</label>
                                <div class="col-lg-8">
                                    <div class="record_type" id="record_type2"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom_line"></div>
                        <div class="form-group btn_group">
                            <button type="button" class="btn btn-default next_action" id="next_action2">조회</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  



<!-- 사용자 검색 -->
<div class="modal fade" id="user_search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">녹취 사용자 선택</h4>
        </div>
        <div class="modal-body">

        <div class="list_search">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <label class="col-lg-4">그룹</label>
                        <div class="col-lg-8">
                            <div class="group_btn_act1"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-lg-4">권한등급</label>
                        <div class="col-lg-8">
                            <div class="authority_num"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-lg-4">사용자</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" placeholder="" id="emp3">
                            
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <input type="button" class="btn btn-primary" value="검색" id="id_user_search3">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </form>
        </div>
        <div class="bottom_line"></div>
        <div class="user_search_con">
            <div class="user_search_grid">
                
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>

</html>