<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recording</title>

  <!-- Bootstrap CSS -->
  <link href="/resource/assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="/resource/assets/css/bootstrap-theme.css" rel="stylesheet">
  
  <link href="/resource/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/resource/assets/font-awesome/css/elegant-icons-style.css" rel="stylesheet">

  <script src="/resource/assets/js/jquery-2.1.1.js"></script>
  <script src="/resource/assets/js/bootstrap.min.js"></script>


  <!-- Custom styles -->
  <link href="/resource/assets/css/login_style.css" rel="stylesheet">


	<script>
	$(document).ready(function() {

		
		
		
		$("input[name=param1]").focus();
		
		$("#id").keydown(function(key) {
            if (key.keyCode == 13) {
                if($("input[name=param2]").val() != ""){
                	login();
                }else{
                	alert("비밀번호를 입력해주세요.");
                	$("input[name=param2]").focus();
                	return false;
                }
            }
        });

		$("#pw").keydown(function(key) {
			 if (key.keyCode == 13) {
				 login();
			 }
		});
		

		
		$("#login").click(function(event) {
			if ($("input[name=param1]").val() == "") {
				alert("아이디를 입력해주세요.");
				return;
			}
			if ($("input[name=param2]").val() == "") {
				alert("비밀번호를 입력해주세요.");
				return;
			}
			login();
		});
		
		
		function login(){
			$.ajax({
				type : "POST",
				url : "/doLogin",
				data : $("#loginFrm").serialize(),
				success : function(data) {
					if(JSON.parse(data).result) {
						location.href = "/call/call_page";
					} else {
						alert("계정정보를 확인해주세요.");
					}
				},
				error : function() {
					alert("계정정보를 확인해주세요.");
				}
			});
		}
		
	});
	</script>
</head>

<body class="login-img3-body" onunload="close();">

  <div class="container">

    <form class="login-form" id="loginFrm">
      <div class="login-wrap">
        <p class="login-img"><img src="/logo" alt="logo_270*85" data-toggle="tooltip" data-placement="right" title="270*85"></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" class="form-control" id="id" name="param1" placeholder="Username" autofocus required="">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" class="form-control" id="pw" placeholder="Password" required="" name="param2">
        </div>
        <a class="btn btn-info btn-lg btn-block" type="submit" id="login" alt="login button">Login</a>
      </div>
    </form>
    <div class="text-center">
      <div class="credits">
        <p>OpenAPI 고객 센터 대표번호 | <span>050-8377-0000</span></p>      
      </div>
    </div>
  </div>


</body>

</html>
