<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recording</title>
	
    <!-- jqwidgets 공용 -->
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcore.js}"></script>

    <!-- jqwidgets calendar -->
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdatetimeinput.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcalendar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxtooltip.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/globalization/globalize.js}"></script>

    <!-- DropDownList + Grid -->
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxbuttons.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxscrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxlistbox.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdropdownlist.js}"></script>

    <!-- Grid -->
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxdata.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxmenu.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.sort.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.pager.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.columnsresize.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxgrid.selection.js}"></script> 
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/generatedata.js}"></script>

    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxpanel.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxcheckbox.js}"></script>

    
    
	<script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqxwindow.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/js/page/user_page.js}"></script>
	<script type="text/javascript" th:src="@{/resource/assets/js/util/format.js}"></script>
    <!-- option -->
</head>
<body class="user_manage">
<div id="wrapper">
    <a class="hide_darkbg"></a>
    
    
    <input type="hidden" th:value="${#authentication.details.auth_cd}" id="u_auth_cd">
    <div class="wrapper gray-bg" id="page-wrapper">
        <div class="row border-bottom">
            <div th:replace="fragments/navbar :: navbarFragment"></div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <div class="title_wrap">
                    <h2>
                        <img src="/logo" alt="company_logo"> <span>사용자관리</span>
                    </h2>
                </div>
                <!-- Button trigger modal -->
<!--                 th:if="${#authentication.details.auth_cd eq'00'}" -->
<!--                 <button th:if="${#authentication.details.auth_cd} eq'00' or ${#authentication.details.auth_cd} eq'11' or ${#authentication.details.auth_cd} eq'12'"  id="popbt" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#search_filter"> -->
<!--                     <span>검색</span> <i class="fa fa-filter" aria-hidden="true"></i> -->
<!--                 </button> -->
                <button th:if="${#authentication.details.auth_cd} eq'00' or ${#authentication.details.auth_cd} eq'11' or ${#authentication.details.auth_cd} eq'12'" id="showWindowButton" type="button" class="btn btn-primary btn-lg">
             	<span>검색</span>
             		<i class="fa fa-filter" aria-hidden="true"></i>
        		</button>

            </div>
            <div class="ibox-content">
                
                <div class="list">
                    <div class="list_table">
                        <div class="container grid_height">
                            <div id="user_grid"></div>   
                        </div>
                        <div class="grid_bottom" th:if="${#authentication.details.auth_cd} eq'00'">
                            <button class="btn btn-default" type="button" id="user_delete">선택삭제</button>
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#user_add" value="user_insert">사용자 등록</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
<!-- 서치 필터 -->
<div id="jqxWidget">
    <div id="mainDemoContainer">
        <div id="window">
            <div id="windowHeader">
                <h4>사용자관리 필터</h4>
            </div>
            <div id="windowContent">
                <div class="list_search">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="col-lg-4">그룹</label>
                                <div class="col-lg-8">
                                    <div class="group_btn_act_search"></div>
                                </div>
                            </div>
                        
                            <div class="col-sm-4">
                                <label class="col-lg-4">번호조회</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control receive_number" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-lg-4">등급조회</label>
                                <div class="col-lg-8">
                                    <div class="authority_num1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-sm-4">
                                <label class="col-lg-4">녹취유형</label>
                                <div class="col-lg-8">
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions-add" id="inlineRadio1" value="B"> 전수녹취
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="inlineRadioOptions-add" id="inlineRadio2" value="N" checked> 녹취정지
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="bottom_line"></div>
                        <div class="form-group btn_group">
                            <button type="button" class="btn btn-default" id="user_search_bt">조회</button>
                        </div>     
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
<!-- 사용자 등록 -->
<div class="modal fade" id="user_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-lg-2">아이디</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="" id="emp_id">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-default" type="button" id="id_check">중복체크</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">070 녹취번호</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="" id="tel_no_070">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-default" type="button" id="tel_070_check">중복체크</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">이름</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="" id="emp_nm">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">녹취번호</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="" id="tel_no">
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-default" type="button" id="tel_check">중복체크</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">사용자등급</label>
                    <div class="col-lg-8">
                        <div class="authority_num"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">그룹</label>
                    <div class="col-lg-8">
                        <div class="group_btn_act"></div>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default groupSet_open" data-toggle="modal" data-target="#groupSet_modal">그룹관리</button>
                    </div>

                </div>
					<div class="modal fade" id="groupSet_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">그룹관리</h4>
                                </div>
                                <div class="modal-body">
                                    <div id='groupSet_grid' class="show_group"></div>
                                    <div class="add_group disno">
                                        <div class="form-group">
                                            <label class="col-lg-3">그룹 코드</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" placeholder="" id="branch_cd">
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="btn btn-default" type="button" id="branch_check">중복체크</button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-3">그룹 이름</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="branch_nm" placeholder="">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="show_group">
                                        <button type="button" class="btn btn-default" id="branch_delete">삭제</button>
                                        <button type="button" class="btn btn-primary next">등록</button>                                
                                    </div>
                                    <div class="add_group disno">
                                        <button type="button" class="btn btn-primary" id="branch_insert">등록</button>
                                        <button type="button" class="btn btn-default previous">닫기</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="col-lg-2">녹취유형</label>
                    <div class="col-lg-8">
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="rec_inlineRadio1" value="B"> 전수녹취
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="rec_inlineRadio2" value="N" checked> 녹취정지
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">비밀번호</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" placeholder="" id="pass">                
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">비밀번호 확인</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" placeholder="" id="pass_check">                
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2">다운로드 여부</label>
                    <div class="col-lg-8">
                        <label class="radio-inline">
                          <input type="radio" name="download" id="down_inlineRadio1" value="N"> 다운로드 OFF
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="download" id="down_inlineRadio2" value="Y" checked> 다운로드 ON
                        </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal_ajax">등록</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 사용자 등록 - 상세보기 -->



</body>

</html>