<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultStatementTimeout" value="180"/>
	</settings>
  
	<typeAliases>
		<typeAlias alias="users" type="com.nautestech.www.model.Users"/>
		<typeAlias alias="call" type="com.nautestech.www.model.Call"/>
		<typeAlias alias="callJoin" type="com.nautestech.www.model.CallJoin"/>
		<typeAlias alias="batch" type="com.nautestech.www.model.Batch"/>
		<typeAlias alias="log" type="com.nautestech.www.model.Callhistory_log"/>
		<typeAlias alias="stat" type="com.nautestech.www.model.Stat"/>
	</typeAliases>

</configuration>
