<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div class="header" th:fragment="headerFragment">

<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="/resource/assets/img/admin.png" />
                        </span>
                        <a href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" th:text="${#authentication.details.emp_id}"></strong> 님
                             </span></span> </a>
                        
                    </div>
                    <div class="logo-element">
                        <img alt="image" class="img-circle" src="/resource/assets/img/admin.png" />
                    </div>
                </li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/call/call_page')}?'active page_open':''">
                    <a href="/call/call_page"><i class="fa fa-search" aria-hidden="true"></i> <span class="nav-label">검색/청취</span></a>
                </li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/user/user_page')}?'active page_open':''" th:if="!${#authentication.details.auth_cd eq'13'}">
                    <a href="/user/user_page"><i class="fa fa-user" aria-hidden="true"></i> <span class="nav-label">사용자관리</span></a>
                </li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/access_log/access_log_page')}?'active page_open':''" th:if="!${#authentication.details.auth_cd eq'13'}">
                    <a href="/access_log/access_log_page"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="nav-label">접속로그</span></a>
                </li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/monitor/monitor_page')}?'active page_open':''" th:if="!${#authentication.details.auth_cd eq'13'}">
                    <a href="/monitor/monitor_page"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="nav-label">모니터링</span></a>
                </li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/state/state_page')}?'active page_open':''" th:if="!${#authentication.details.auth_cd eq'13'}">
                    <a href="/state/state_page"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">통계</span><span class="nav-label"></span></a>
                </li>
                <li class="manual">
                    <button class="btn btn-primary"><i class="fa fa-book" aria-hidden="true"></i><span>매뉴얼 다운로드</span></button>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>