<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div class="navbar" th:fragment="navbarFragment">
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0" >
                <div class="navbar-header">
                    <div class="navbar-form-custom">
                        <div class="disk">
                            HDD REC #1 <span>356G [USE:2%]</span>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                 
                    <li>
                        <a href="../login/login.html">
                            <i class="fa fa-sign-out"></i> 로그아웃
                        </a>
                    </li>
                </ul>
            </nav>
</div>
</html>