<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<head>
	<meta charset="utf-8">
	<!-- index.html 고유 CSS 추가 -->
    <link rel="stylesheet" type="text/css" href="/resource/assets/css/admin_main.css">
	<script>
	$(document).ready(function() {
		let seq;
		$("#change_modal").on("show.bs.modal", function(event){
			var button = $(event.relatedTarget);
			seq = button.data('whatever');
			$.getJSON(
				"/admin/boardEdit/"+seq,
				function(data){
					console.log(data);
					$("#boardEditTitle").val(data.title);
					$("#boardEditContents").val(data.contents);
				}
			)
			
		})
		$("#boardUpdate").click(function() {
			var title = $("#boardEditTitle").val();
			var contents = $("#boardEditContents").val();
			$.ajax({
				type : "POST",
				url : "/admin/boardUpdate",
				data : JSON.stringify({"title" : title, "contents" : contents, "seq" : seq}),
				contentType: "application/json; charset=utf-8",
				success:function(result){
					alert("업데이트 성공.");
				},
				error:function(status){
					alert("업데이트 실패.");
				}
			})
		})
	})
	</script>
</head>
<!-- index.html 고유 스크립트 추가 -->

<div class="container con_wrap" layout:fragment="content">
	<header th:replace="fragments/header02 :: headerFragment02"></header>
	<header th:replace="fragments/header03 :: headerFragment03"></header>
	<div class="container">
	    <h3>게시판 관리</h3>
	    <div class="ibox-content" style="padding-top: 20px;">
	        <div class="from_wrap">
	     
	
	            <table class="boardTable table table-striped table-bordered table-hover">
	                <colgroup>
	                    <col width="45%">
	                    <col width="15%">
	                    <col width="10%">
	                    <col width="30%">                           
	                </colgroup>
	                <thead>
	                    <tr>
	                        <th style="text-align:center;">순번</th>
	                        <th style="text-align:center;">제목</th>
	                        <th style="text-align:center;">생성일자</th>
	                        <th style="text-align:center;">Action</th>
	                       
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:each="board : ${board}">
	                        <td th:text="${boardStat.size-boardStat.index}" style="text-align:center;"></td>
	                        <td th:text="${board.title}" style="text-align:center;"></td>
	                        <td th:text="${board.regdate}" style="text-align:center;"></td>
	                        <td style="text-align:center;">
	                            <button type="button" data-toggle="modal" data-target="#change_modal" th:data-whatever="${board.seq}" th:id="${board.seq}" value="boardEdit">수정</button>
	                            <button type="button">삭제</button>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
                <div class="pn">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                       
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="btn" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="button" data-toggle="modal" data-target="#change_modal" id="asdasd">등록</button>
                </div>
	            
	            <!-- change_modal -->
	            <div class="modal fade" id="change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	              <div class="modal-dialog">
	                <div class="modal-content">
	                  <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title" id="myModalLabel">수정</h4>
	                  </div>
	                  <div class="modal-body">
	                    <div class="form-group">
	                        <p class="col-md-4">제목</p>
	                        <input type="text" class="form-control col-md-8" placeholder="" required="" id="boardEditTitle">
	                    </div>
	                    <div class="form-group">
	                        <p class="col-md-4">내용</p>
	                        <input type="text" class="form-control col-md-8" placeholder="" required="" id="boardEditContents">
	                    </div>
	                    
	                  </div>
	                  <div class="modal-footer">
	                    
	                    <button type="button" class="btn btn-primary" id="boardUpdate">저장</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	                  </div>
	                </div>
	              </div>
	            </div>
	           
	        </div>
	    </div>
	</div>
</div>
</html>